{% extends 'base.html' %} {% block header %}
<h1 class="text-lg md:text-2xl font-bold dark:text-white">
  {% block title %}Home{% endblock %}
</h1>
{% endblock %} {% block content %}
<div class="mb-6">
  <h1 class="dark:text-white text-2xl font-extrabold">Track your expenses</h1>
</div>
<div class="mb-6">
  <a href="{{ url_for('auth.register') }}">
    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Join
    </button>
  </a>
</div>
{% endblock %}
